/* Ggeral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html::before {
  content: "";
  position: fixed;
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100dvh; */
  z-index: -1;

  background-image: url(../img/backgroundV2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
}
html {
  background-image: url(../img/backgroundV2.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
  color: var(--textColor);
}

/* Geral - cores padronizadas */
:root {
  /* CORES */
  /* Cor do texto */
  --textColor: #fff;
  --textColorDark: #454545;
  /* Cor das sombras */
  --shadowColorDark: #45454571;
  --shadowColorLight: #afafaf36;
  /* Cor das bordas */
  --borderColor: #69696971;
  /* Cor de fundo do header */
  --headerColor: #00000071;
  /* Cor de fundo dos botões */
  --buttonColor: #2222221f;
  --buttonColorHover: #7a7a7a17;
  /* Cor de fundo dos cards */
  --cardColor: #22222200;
  /* Cor de fundo dos microCards */
  --microCardColor: #45454567;

  /* ANIMAÇÕES */
  /* Animações de hover */
  --beforeHover: transform 0.2s ease;
  --afterHover: scale(1.1);
  --afterHoverLight: scale(1.05);
}

/* Geral - animação de desvandecer dos cards */
/* Estado inicial (escondido) */
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50px);
  /*transition: all 0.5s ease-out; /* Velocidade da animação */
  transition: all 0.6s ease-out;
}

/* Estado final (visível) */
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/* Centralização de rolagem dos cards ao usar o menu do header */
#cardSobreMim,
#cardHabilidades,
#cardProjetos,
#cardContato {
  scroll-margin-top: 13vh; /* Empurra o card para baixo ao rolar */
}

/* Header */
#header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--headerColor);
  backdrop-filter: blur(50px);
  border-bottom: 1px solid var(--borderColor);
}
/* Header - menus */
#header a {
  font-size: clamp(0.001rem, 4vw, 1rem);
  text-decoration: none;
  transition: var(--beforeHover);
}
#header a:hover {
  transform: var(--afterHover);
  text-decoration: underline;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* main - mainCard */
#mainCard {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center;
  padding: 5rem;
  padding-bottom: none;
  min-height: 100vh;
}
/* titulo - Mayan Patrick e subtitulo*/
#titleContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid red;
}
/* titulo - Mayan */
#titleContainer h1 {
  font-size: clamp(3rem, 10vw, 4rem);
  line-height: 1;
  color: var(--textColor);
  font-weight: lighter;
}
/* titulo - PATRICK */
#patrick {
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  font-weight: bold;
}
/* Subtitulo */
#titleContainer p {
  color: var(--textColor);
}
/* mainCard - botoes */
#fcButtons {
  display: flex;
  gap: clamp(0.5rem, 1vw, 1rem);
}
.fcButtonDiv {
  background-color: var(--buttonColor);
  backdrop-filter: blur(50px);
  box-shadow: 0 10px 50px var(--shadowColorDark);
  border: 1px solid var(--borderColor);
  border-radius: 5rem;
  transition: transform 0.2s ease;
}
.fcButtonDiv:hover {
  transform: var(--afterHoverLight);
  background-color: var(--shadowColorLight);
  box-shadow: 0 10px 50px var(--shadowColorLight);
}
#githubIcon,
#linkedinIcon {
  max-width: 1rem;
}
#fcButtons a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: clamp(0.8rem, 1vw, 1rem);
  padding: 0.7rem;
}

/* main - Cards */
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--cardColor);
  backdrop-filter: blur(50px);
  border: 1px solid var(--borderColor);
  color: white;
  padding: 2rem;
  margin: 0 1rem;
  border-radius: 3rem;
  box-shadow: 0 10px 50px var(--shadowColorDark);
}
.microCard {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  background-color: var(--microCardColor);
  backdrop-filter: blur(50px);
  border: 1px solid var(--borderColor);
  padding: 1.5rem;
  border-radius: 2rem;
  transition: var(--beforeHover);
}
/* titulo do card */
.cardTitle {
  font-size: clamp(1rem, 10vw, 3rem);
  flex-basis: 100%;
}

/* card - sobre mim */
#cardSobreMim {
  gap: 1rem;
}
#sobreContent {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
/* Foto de perfil */
#profilePhoto {
  width: clamp(100px, 15vw, 200px);
  height: clamp(100px, 15vw, 200px);
  background-image: url(../img/perfil.jpeg);
  background-size: cover;
  border-radius: clamp(1.5rem, 5vw, 2rem);
  float: inline-start;
  /* isso coloca o texto ao redor da imagem */
  margin-right: clamp(0.5rem, 10vw, 1rem);
  margin-bottom: clamp(0.3rem, 2vw, 1rem);
}

/* card - experiencia */
#experiencia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}
#expMicroCard img {
  width: clamp(0.5rem, 10vw, 2rem);
}
#expMicroCard:hover {
  transform: scale(1.01);
  background-color: var(--shadowColorLight);
  box-shadow: 0 10px 50px var(--shadowColorLight);
}

/* card - Habilidades */
.habMicroCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
.habButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.habButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(0.8rem, 1vw, 1rem);
  text-decoration: none;
  background-color: var(--buttonColor);
  backdrop-filter: blur(20px);
  border: 1px solid var(--borderColor);
  color: var(--textColor);
  border-radius: 1rem;
  padding: 0.7rem;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.habButton img {
  max-width: 1rem;
}
.habButton:hover {
  background-color: var(--buttonColorHover);
  transform: scale(1.1);
  box-shadow: 0 10px 50px var(--shadowColorLight);
}

/* card - Projetos */
#prjMicrocards {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: end;
}
#prjMicrocard {
  gap: 1rem;
}
#prjMicrocard:hover {
  transform: var(--afterHoverLight);
  background-color: var(--shadowColorLight);
  box-shadow: 0 10px 50px var(--shadowColorLight);
}
.prjImage {
  max-width: clamp(200px, 50vw, 500px);
  border-radius: 1rem;
  transition: var(--beforeHover);
}
.prjTools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.prjToolButton {
  font-size: clamp(0.8rem, 1vw, 1rem);
  text-decoration: none;
  background-color: var(--buttonColor);
  backdrop-filter: blur(20px);
  border: 1px solid var(--borderColor);
  color: var(--textColor);
  border-radius: 1rem;
  padding: 0.7rem;
}
.divSeparator {
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.separator {
  border: 1px solid var(--borderColor);
}
#github {
  display: inline-flex;
  background-color: #000;
  padding: 0.5rem 1rem;
  border: 1px solid var(--borderColor);
  border-radius: 0.7rem;
  transition: var(--beforeHover);
}
#github img {
  max-width: 15px;
  margin-right: 5px;
}
#github:hover {
  transform: var(--afterHoverLight);
  background-color: var(--buttonColorHover);
  box-shadow: 0 10px 50px var(--shadowColorLight);
}

/* card - contato */
#firstContactContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
}
#contactMicroCards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contactMicroCardTitle {
  font-weight: normal;
  color: #b3b3b3;
}
.contactMicroCardText {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
#contactMicroCard {
  flex-direction: row;
  gap: 0.7rem;
  padding: 1rem;
  max-width: 100%;
  border-radius: 1.5rem;
}
#contactMicroCard img {
  width: clamp(1rem, 10vw, 1.7rem);
}
#contactMicroCard:hover {
  transform: var(--afterHoverLight);
  background-color: var(--shadowColorLight);
  box-shadow: 0 10px 50px var(--shadowColorLight);
}
/* Segunda parte do content - form */

#secondContactContent {
  flex: 1;
}
#formMicroCard {
  height: 100%;
}
#formMicroCard input {
  background-color: #0000000e;
  color: #fff;
  padding: 0.5rem;
  border: solid #69696971 1px;
  border-radius: 9px;
}

#formMicroCard textarea {
  flex-grow: 1;
  background-color: #0000000e;
  padding: 0.5rem;
  font-family: segoe UI;
  border: solid #69696971 1px;
  border-radius: 15px;
  color: var(--textColor);
}
#formSubmit {
  border: 1px solid var(--borderColor);
  border-radius: 1rem;
  transition: var(--beforeHover);
}
#formSubmit:hover {
  transform: var(--afterHoverLight);
  background-color: var(--shadowColorLight);
  box-shadow: 0 10px 50px var(--shadowColorLight);
}

/* Responsividade */
/* Ajustes para telas menores (Celulares) */
@media (max-width: 480px) {
  #header a {
    font-size: 0.7rem;
  }
  #mainCard {
    padding: 2rem;
  }
  .card {
    padding: 1rem;
    border-radius: 2rem;
  }
  .cardTitle {
    padding-bottom: 0;
  }
  #experiencia {
    grid-template-columns: repeat(1, 1fr);
  }
  .habMicroCards {
    grid-template-columns: repeat(1, 1fr);
  }
  .prjMicrocard {
    padding: 1rem;
  }
}

/* @supports (-webkit-touch-callout: none) {
  body {
    background-attachment: fixed;
    background-size: auto 100vh; 
    background-size: cover 100vh;
  }
} */
