* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: -1;
  background-image: url(../img/backgroundv3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#content {
  padding-bottom: 2rem;
  height: 100dvh;
}

html {
  background-color: #000000;
}
/* Exemplo para garantir margem no topo e no fundo */
body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
html,
body {
  /* Impede o efeito elástico */
  overscroll-behavior: none;

  /* Garante que o scroll aconteça apenas dentro do container, sem propagar para o navegador */
  height: 100%;
  overflow: hidden;
}

#content {
  /* Permite o scroll apenas dentro do conteúdo principal */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
a {
  text-decoration: none;
  color: var(--textColor);
}

:root {
  --textColor: #fff;
  --textColorDark: #454545;
  --shadowColorDark: #45454571;
  --shadowColorLight: #afafaf36;
  --borderColor: #69696971;
  --headerColor: #0000003b;
  --buttonColor: #2222221f;
  --fcButtonColor: #222222c0;
  --buttonColorHover: #7a7a7a17;
  --cardColor: #2222226e;
  --microCardColor: #45454567;
  --beforeHover: transform 0.2s ease;
  --afterHover: scale(1.1);
  --afterHoverLight: scale(1.05);
  --blur: blur(20px);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/* Centralização de rolagem dos cards ao usar o menu do header */
#cardSobreMim,
#cardHabilidades,
#cardProjetos,
#cardContato {
  scroll-margin-top: 20vh; /* Empurra o card para baixo ao rolar */
}

/* Header */
#header {
  position: sticky;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 2rem;
  background-color: var(--headerColor);
  backdrop-filter: var(--blur);
  border-bottom: 1px solid var(--borderColor);
}
#headerLogo {
  width: clamp(1.5rem, 4vw, 2rem);
}
/* Header - menus */
#headerLinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}
#header a {
  font-size: clamp(0.001rem, 4vw, 1rem);
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* main - mainCard */
#mainCard {
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  justify-content: center;
  padding: 5rem;
  min-height: 100vh;
}
/* titulo - Mayan Patrick e subtitulo*/
#titleContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* titulo - Mayan */
#titleContainer h1 {
  font-size: clamp(3rem, 10vw, 4rem);
  line-height: 1;
  color: var(--textColor);
  font-weight: lighter;
}
/* titulo - PATRICK */
#patrick {
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  font-weight: bold;
}
/* Subtitulo */
#titleContainer p {
  color: var(--textColor);
}
/* mainCard - botoes */
#fcButtons {
  display: flex;
  gap: clamp(0.5rem, 1vw, 1rem);
}
.fcButtonDiv {
  background-color: var(--fcButtonColor);
  backdrop-filter: blur(50px);
  box-shadow: 0 10px 50px var(--shadowColorDark);
  border-radius: 5rem;
}

#githubIcon,
#linkedinIcon {
  max-width: 1rem;
}
#fcButtons a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: clamp(0.8rem, 1vw, 1rem);
  padding: 0.7rem;
}

/* main - Cards */
.card,
.microCard,
.fcButtonDiv,
.habButton,
.prjToolButton {
  border: 1px solid var(--borderColor);
}
#header a,
.fcButtonDiv,
.microCard,
.habButton,
.prjToolButton,
.prjImage,
#formSubmit {
  transition: var(--beforeHover);
}
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--cardColor);
  backdrop-filter: var(--blur);
  color: white;
  padding: 2rem;
  margin: 0 1rem;
  border-radius: 3rem;
  box-shadow: 0 10px 50px var(--shadowColorDark);
}
.microCard {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  background-color: var(--microCardColor);
  backdrop-filter: var(--blur);
  padding: 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
}
/* titulo do card */
.cardTitle {
  font-size: clamp(1rem, 10vw, 3rem);
  flex-basis: 100%;
}

/* card - sobre mim */
#cardSobreMim {
  gap: 1rem;
}
#sobreContent {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
/* Foto de perfil */
#profilePhoto {
  width: clamp(100px, 15vw, 200px);
  height: clamp(100px, 15vw, 200px);
  background-image: url(../img/perfil.jpeg);
  background-size: cover;
  border-radius: clamp(1.5rem, 5vw, 2rem);
  float: inline-start;
  margin-right: clamp(0.5rem, 10vw, 1rem);
  margin-bottom: clamp(0.3rem, 2vw, 1rem);
}

/* card - experiencia */
#experiencia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
}
#expMicroCard img {
  width: clamp(0.5rem, 10vw, 2rem);
}

/* card - Habilidades */
.habMicroCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.habButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.habButton,
.prjToolButton {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: clamp(0.8rem, 1vw, 1rem);
  text-decoration: none;
  background-color: var(--buttonColor);
  backdrop-filter: blur(20px);
  color: var(--textColor);
  border-radius: 1rem;
  padding: 0.7rem;
  cursor: pointer;
}
.habButton img,
.prjToolButton img {
  max-width: 1rem;
}

/* card - Projetos */
#prjMicrocards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: end;
}
#prjMicrocard {
  gap: 1rem;
}

.prjImage {
  max-width: clamp(200px, 50vw, 500px);
  border-radius: 1rem;
  transition: var(--beforeHover);
}
.prjTools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}
.divSeparator {
  height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.separator {
  border: 1px solid var(--borderColor);
}
.prjButtons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#github {
  display: inline-flex;
  background-color: #818181;
  padding: 0.5rem 1rem;
  border: 1px solid var(--borderColor);
  border-radius: 0.7rem;
  transition: var(--beforeHover);
}
#github img {
  max-width: 15px;
  margin-right: 5px;
}

/* card - contato */
#firstContactContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 100%;
}
#contactMicroCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.contactMicroCardTitle {
  font-weight: normal;
  color: #b3b3b3;
}
.contactMicroCardText {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
#contactMicroCard {
  flex-grow: 1;
  flex-direction: row;
  gap: 0.7rem;
  padding: 1rem;
  border-radius: 1.5rem;
}
#contactMicroCard img {
  width: clamp(1rem, 10vw, 1.7rem);
}
/* Segunda parte do content - form */

#secondContactContent {
  flex: 1;
}
#formMicroCard {
  height: 100%;
}
#formMicroCard input,
#formMicroCard textarea {
  background-color: #0000000e;
  color: #fff;
  padding: 0.5rem;
  border: 1px solid #69696971;
}
#formMicroCard input {
  border-radius: 9px;
}
#formMicroCard textarea {
  flex-grow: 1;
  border-radius: 15px;
}
#formSubmit {
  border: 1px solid var(--borderColor);
  border-radius: 1rem;
  transition: var(--beforeHover);
}

/* Responsividade */
/* Ajustes para telas menores (Celulares) */
@media (max-width: 480px) {
  #header {
    padding: 1rem 1rem;
    gap: 1rem;
  }
  #headerLinks {
    gap: 0.7rem;
  }
  #header a {
    font-size: 0.7rem;
  }
  #mainCard {
    padding: 2rem;
  }
  .card {
    padding: 1rem;
    border-radius: 2rem;
  }
  .cardTitle {
    padding-bottom: 0;
  }
  #experiencia {
    grid-template-columns: repeat(1, 1fr);
  }
  .habMicroCards {
    grid-template-columns: repeat(1, 1fr);
  }
  #prjMicrocards {
    display: flex;
  }
  .prjMicrocard {
    padding: 1rem;
  }
  #contactMicroCards {
    flex-wrap: wrap;
  }
}

/* O hover só será aplicado se o dispositivo suportar hover (ex: mouse/trackpad) */
@media (hover: hover) {
  #header a:hover {
    transform: var(--afterHover);
    box-shadow: 0 10px 20px var(--shadowColorLight);
  }
  .fcButtonDiv:hover {
    transform: var(--afterHoverLight);
    background-color: var(--shadowColorLight);
    box-shadow: 0 10px 50px var(--shadowColorLight);
  }
  #expMicroCard:hover {
    transform: scale(1.01);
    background-color: var(--shadowColorLight);
    box-shadow: 0 10px 50px var(--shadowColorLight);
  }
  .habButton:hover,
  .prjToolButton:hover {
    background-color: var(--buttonColorHover);
    transform: scale(1.1);
    box-shadow: 0 10px 50px var(--shadowColorLight);
  }
  #prjMicrocard:hover,
  #contactMicroCard:hover,
  #formSubmit:hover {
    transform: var(--afterHoverLight);
    background-color: var(--shadowColorLight);
    box-shadow: 0 10px 50px var(--shadowColorLight);
  }
}

/* Opcional: Estilo para quando for touch (para dar feedback visual sem ser "hover") */
@media (hover: none) {
  #header a:active {
    transform: var(--afterHover);
    box-shadow: 0 10px 20px var(--shadowColorLight);
  }
  .fcButtonDiv:active {
    transform: var(--afterHoverLight);
    background-color: var(--shadowColorLight);
    box-shadow: 0 10px 50px var(--shadowColorLight);
  }
  #expMicroCard:active {
    transform: scale(1.01);
    background-color: var(--shadowColorLight);
    box-shadow: 0 10px 50px var(--shadowColorLight);
  }
  .habButton:active,
  .prjToolButton:active {
    background-color: var(--buttonColorHover);
    transform: scale(1.1);
    box-shadow: 0 10px 50px var(--shadowColorLight);
  }
  #prjMicrocard:active,
  #contactMicroCard:active,
  #formSubmit:active {
    transform: var(--afterHoverLight);
    background-color: var(--shadowColorLight);
    box-shadow: 0 10px 50px var(--shadowColorLight);
  }
}
