@import "../App.css";

#contatoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contatoContent {
  width: 100%;
}

#contatoText {
  width: 70%;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  p {
    color: var(--textColor);
  }
}

.contatoButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.contatoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--accentColor);
  border-radius: 50%; 
  padding: 0.6rem;
  font-size: 2rem;
  color: var(--accentColor);
  transition: var(--transition);
}

/* HOVER / TOUCH FEEDBACK */
@media (hover: hover) {
  .contatoButton:hover {
    color: var(--textColor);
    border-color: var(--textColor);
    transform: translateY(-1px); 
  }
}

@media (pointer: coarse) {
  .contatoButton:active {
    color: var(--textColor);
    border-color: var(--textColor);
    transform: translateY(-1px); 
  }
}

/* RESPONSIVIDADE (CELULARES) */
@media (max-width: 480px) {
  #contatoText {
    width: 90%;
    h2 {
      line-height: 1.2;
    }
  }

  .contatoButtons {
    gap: 1rem;
  }

  .contatoButton {
    border-width: 2px;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

/* Dispositivos no Modo Landscape (Horizontal Curta) */
@media (max-height: 480px) and (orientation: landscape) {
  .contatoButton {
    font-size: x-large;
  }
}
