@import "../App.css";

/* CONFIGURAÇÃO DE CORES */
:root {
  /* --headerBackground: linear-gradient(#fff, #ffffffbd 50%); */
  --headerBackground: #ffffffbd;
}

[data-theme="dark"] {
  /* --headerBackground: linear-gradient(#0c0c0c, #0c0c0cbd 50%); */
  --headerBackground: #0c0c0cbd;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--headerBackground);
  backdrop-filter: var(--blur);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: var(--shadow);
  z-index: 1000;
  /* transition: var(--transition); */
}

/* LOGO */
#headerLogo {
  text-decoration: none;
  color: var(--accentColor);
  font-family: "Cal Sans", sans-serif;
  font-size: 1.5rem;
  z-index: 1001; /* Fica acima do menu retrátil */
}

/* NAVEGAÇÃO DESKTOP */



/* ===================================================
   📱 RESPONSIVIDADE MOBILE (Menor ou igual a 768px)
   =================================================== */


/* O hover só será aplicado se o dispositivo suportar hover (ex: mouse/trackpad) */
@media (hover: hover) {
  #headerLogo:hover {
  color: var(--textColor);
}
}

/* Opcional: Estilo para quando for touch (para dar feedback visual sem ser "hover") */
@media (pointer: coarse) {
  #headerLogo:active {
  color: var(--textColor);
}
}