@import "../App.css";

#prjSection {
  padding-top: 4rem;
  width: 100%;
}
.prjCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.cardProjeto {
  background-color: var(--cardBackgroundColor);
  padding: 2rem;
  overflow: hidden;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  .prjImage {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: calc(100% + 4rem);
    aspect-ratio: 16 / 7;
    background-color: #e5e5e5;
    align-self: center;
    margin-top: -2rem;
  }
  .type {
    text-transform: uppercase;
    color: var(--textColor);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    opacity: 0.5;
  }
  h3 {
    text-transform: capitalize;
    font-size: x-large;
    color: var(--textColor);
  }
  .description {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    opacity: 0.8;
    color: var(--textColor);
  }
  a {
    margin-top: auto;
    background-color: transparent;
    border: 3px solid var(--accentColor);
    color: var(--accentColor);
  }
  a:hover {
    background-color: var(--accentColor);
    color: var(--button1IconColor);
  }
}
#prjContent {
  flex-direction: column;
}
#prjText {
  text-align: center;
  line-height: 2;
}
.cardProjeto:hover {
  box-shadow: var(--shadow);
  transition: var(--transition);
}
/* RESPONSIVIDADE */
/* APENAS PARA CELULARES */
@media (max-width: 480px) {
  #prjContent {
    gap: 0;
  }
  .prjCards {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardProjeto {
    .type {
      font-size: small;
    }
    .description {
      font-size: small;
    }
    a {
      padding: 0.4rem 0.8rem;
      border: 2px solid var(--accentColor);
      font-size: small;
    }
    a:hover {
      background-color: var(--accentColor);
      color: var(--button1IconColor);
    }
  }
}
@media (max-height: 480px) {
  #prjContent {
    gap: 0;
  }
  .prjCards {
    display: flex;
    gap: .5rem;
  }
  .cardProjeto {
    flex: 1;
    padding: 1rem;
    gap: .6rem;
    border-radius: .5rem;
    .type {
      font-size: x-small;
    }
    h3{
      font-size: medium;
    }
    .description {
      font-size: x-small;
    }
    a {
      padding: 0.4rem 0.8rem;
      border: 2px solid var(--accentColor);
      font-size: small;
    }
    a:hover {
      background-color: var(--accentColor);
      color: var(--button1IconColor);
    }
  }
}
