@import "../App.css";
/* TEMA CLARO */
:root {
  --backgroundColor: #ffffffbb;
}
/* --- TEMA ESCURO --- */
[data-theme="dark"] {
  --backgroundColor: #111111bb;
}

#sobreSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120dvh;
  padding-top: 0;
}
#sobrePhoto {
  background-image: url(../assets/FotosPerfil/perfil2.jpg);
  background-size: cover;
  background-position: top;
  border-radius: var(--borderRadius);
  box-shadow: var(--photoShadow);
  width: clamp(10rem, 25%, 20rem);
  aspect-ratio: 9/16;
  /* flex-shrink: 0; */
  outline: 0.3rem dashed var(--accentColor);
  outline-offset: 3px;
  cursor: pointer;
  transition: var(--transition);
  /* flex: 1; */
  
}
#sobrePhoto:active {
  transform: scale(0.98);
  opacity: 0.9;
}
#sobreContent {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  /* gap: 10rem; */
  background-color: var(--backgroundColor);
  /* padding: 8rem 10rem; */
  padding: clamp(2rem, 10%, 10rem);
  border-radius: var(--borderRadius);
  transition: var(--transition);
}
#sobreText{
  /* width: clamp(100%, 10vw, 50%); */
  flex: 1;
}
#sobreButton {
  padding: 0 2rem;
}
/* RESPONSIVIDADE */
/* APENAS PARA CELULARES */
@media (max-width: 480px) {
  #sobreSection {
    text-align: center;
  }
  #sobreContent {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    padding-top: 3.5rem;
    align-items: center;
  }
  #sobrePhoto {
    width: 10rem;
    height: 15rem;
  }
  .sectionText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
/* TELAS DE LAPTOPS/MONITORES PEQUENOS */
@media (min-width: 768px) and (max-width: 1024px) {
}
/* AJUSTES PARA TABLETS E CELULARES */
@media (orientation: landscape) and (max-height: 500px) {
}
@media (max-width: 768px), (orientation: landscape) and (max-height: 500px) {
}

/* O hover só será aplicado se o dispositivo suportar hover (ex: mouse/trackpad) */
@media (hover: hover) {
}

/* Opcional: Estilo para quando for touch (para dar feedback visual sem ser "hover") */
@media (pointer: coarse) {
}
