@import "../App.css";

/* TEMA CLARO */
:root {
  --backgroundColor: #ffffffbb;
}

/* TEMA ESCURO */
[data-theme="dark"] {
  --backgroundColor: #111111bb;
}

#sobreSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100dvh;
  padding: 4rem 0;
}

#sobreContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(2rem, 5vw, 5rem);
  background-color: var(--backgroundColor);
  padding: clamp(2rem, 6vw, 6rem);
  border-radius: var(--borderRadius);
  transition: var(--transition);
  width: 100%;
  z-index: 1;
}

#sobrePhoto {
  background-image: url(../assets/FotosPerfil/perfil2.jpg);
  background-size: cover;
  background-position: top;
  border-radius: var(--borderRadius);
  box-shadow: var(--photoShadow);
  width: clamp(12rem, 25%, 20rem);
  aspect-ratio: 9 / 16;
  outline: 0.3rem dashed var(--accentColor);
  outline-offset: 3px;
  cursor: pointer;
  transition: var(--transition);
  flex-shrink: 0;
  z-index: 1;
}

#sobreText {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#sobreButton {
  align-self: flex-start;
  padding: 0.4rem 1.5rem;
}

/* RESPONSIVIDADE */

/* Tablets e Celulares (Modo Retrato) */
@media (max-width: 480px) {
  #sobreContent {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 1.5rem;
  }

  #sobrePhoto {
    width: clamp(10rem, 40vw, 14rem);
  }

  #sobreText {
    align-items: center;
  }

  #sobreButton {
    align-self: center;
  }
}

/* Dispositivos no Modo Landscape (Horizontal Curta) */
@media (max-height: 480px) and (orientation: landscape) {
  #sobreSection {
    min-height: auto;
  }

  #sobreContent {
    flex-direction: row;
    gap: 2rem;
  }
  #sobreButton {
    padding: 0.1rem 1.5rem;
  }

  #sobrePhoto {
    width: 8rem;
  }
}
